 
 *{
	 padding:0;
	 margin:0;
 }
 body{
	 width: 100%;
	 height: 100vh;
	 background:pink;
	 display:flex;
	 justify-content: center;
	 align-items:center;
 }
 #content {
	 position:relative;
	 width: 474px;
	 height: 545px;
 }
 #content .back ,#content .front{
	 position:absolute;
	 width: 474px;
	 height:540px;
	  overflow: hidden ;
 }
 #content .front{
	 border-bottom:5px ;
	 height: 0px;
	 animation: animate 2s infinite alternate;
	
 }
 @keyframes animate {
	 0%{
		 height: 0px;
	 }
	 100%{
		 height:545px;
	 }
 